<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmblzf.animate">

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"
        ></supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--多渠道打包-gradle下配置渠道信息-->
        <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fmblzf.animate.FrameAnimationActivity"></activity>
        <activity android:name=".ViewGroupAnimateActivity"></activity>
        <activity android:name=".SwitchAnimateActivity"></activity>
        <activity android:name=".SwitchAnimateActivity1"></activity>
        <activity android:name=".attr.AttrAnimateActivity"></activity>
        <activity android:name=".attr.BackColorAnimateActivity"></activity>
        <activity android:name=".attr.XMLAttrAnimateActivity"></activity>
    </application>
</manifest>