<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.art.fmblzf.aidl">
    
    <!--自定义权限,先创建，后面的组件需要直接调用自定义权限的name即可-->
    <permission
        android:name="com.art.fmblzf.aidl.permission.ACCESS_BOOK_SERVICE"
        android:label="@string/app_name"
        android:permissionGroup="@string/app_name"
        android:protectionLevel="normal">
    </permission>
    <permission
        android:name="com.art.fmblzf.aidl.permission.PROVIDER"
        android:label="@string/app_name"
        android:permissionGroup="@string/app_name"
        android:protectionLevel="normal">
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category._LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".messenger.MessengerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category._LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".aidl.BookAidlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".provider.BookProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category._LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".messenger.MyMessengerService"
            android:process=":remote"></service>

        <service android:name=".aidl.BookServiceAigl"
            android:permission="com.art.fmblzf.aidl.permission.ACCESS_BOOK_SERVICE"
            android:process=":book"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACCESS_BOOK_SERVICE"></action>
            </intent-filter>
        </service>

        <provider
            android:authorities="com.art.fmblzf.aidl.provider.book.provider"
            android:name="com.art.fmblzf.aidl.provider.BookProvider"
            android:process=":provider"
            android:permission="com.art.fmblzf.aidl.permission.PROVIDER"
            android:exported="true">
        </provider>

    </application>
</manifest>